.main-footer {
  background-color: var(--primary-color0);
  color: #fff;
}
.row {
  padding: 25px;
  display: flex;
  justify-content: space-around;
}

.list-social {
  display: flex;
  justify-content: space-between;
}
.text-xs-center {
  text-align: center;
  font-size: 0.8rem;
}
.icon-button {
  color: #fff;
}

@media screen and (max-width: 360px) {
  .container {
    padding: 15px;
  }
  .row {
    display: flex;
  }
}
