.posts-container {
  margin: 48px;

  .pagination {
    display: flex;
    justify-content: center;
  }

  .cards {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
