.header-container {
  height: 60px;
  position: fixed;
  top: 0;
  background-color: var(--primary-color0);
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  box-shadow: 0px 0px 8px 1px var(--primary-color0);
  width: 100ch;

  .logo {
    display: flex;
    align-items: center;
    margin-right: 12px;

    svg {
      max-width: 54px;
      height: 54px;
      margin-right: 24px;

      path {
        fill: #ffffff;
      }
    }

    .app-name {
      color: #ffffff;
      font-size: 24px;
    }
  }

  .links {
    display: flex;
    align-items: center;

    li {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }

    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #b0adad;
      }
    }
  }
  .seach-news {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
._active {
  font-weight: 600;
  text-transform: uppercase;
}
.logo-seach {
}
.seach-news {
  display: flex;
  align-items: center;
  margin: auto;
}
.header-username {
  color: white;
}
.activebar {
  display: none;
}

@media screen and (max-width: 360px) {
  .header-container {
    width: 100vh;
  }
  .activebar {
    display: block;
  }
  li {
    margin-bottom: 1px;
  }
  .header-username {
    display: none;
  }
  .links li {
    display: none;
  }
  input[type="checkbox"]:checked ~ label + ul {
    display: block;
    margin-right: 20px;
  }
}
