.posts-container {
  margin: 48px;

  .pagination {
    display: flex;
    justify-content: center;
  }

  .cards {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.select-filter {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgb(172, 169, 169);
}
